################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChitChat/bin/Debug/net6.0
/ChitChat/obj
/Client/web-chat-app/src/assets
/.dockerignore
